.about {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
	transition: all 0.5s ease;

	div {
		height: fit-content;
		width: fit-content;
		// width: 100vw;
	}

	
	h2 {
		filter: drop-shadow(0px 0px 10px #e6af86);
	}
	
	&__description {
		width: 80%;
		color: #f5af7a;
		font-size: 1.8rem;
		margin-top: 30px;
		
		&-text {
			padding: 0 50px;
			filter: drop-shadow(5px 3px 3px rgba(0, 0, 0, 0.445));
			// transform: scale(1.1);
		}
		&-text2 {
			font-size: 1.95rem;
			padding: 0 50px;
			filter: drop-shadow(10px 7px 3px rgba(0, 0, 0, 0.425));
		}
		
		&-text3 {
			font-size: 2.1rem;
			padding: 0 50px;
			filter: drop-shadow(15px 11px 3px rgba(0, 0, 0, 0.425));
		}
	}

	.child2 {
		transform: scale(1.1);
	}

	&__alien {
		position: absolute;
		right: -50px;
		width: 150px;
		transform: rotate(-45deg);
	}
	
	&__articles {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		width: 100vw;
		height: 400px;
		
		p {
			padding: 0 0px;
		}
		&__article {
			margin: 60px 50px;
			color: #fff;
			border-radius: 15px;
			width: fit-content;
			background-color: rgba(255, 255, 255, 0.123);
			backdrop-filter: blur(5px);
			// filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.315));
			font-size: 1.8rem;

			z-index: 1000;
			position: relative;
			padding: 20px;
			// box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
			display: flex;
			flex-direction: row;
			box-shadow: 
					0 0 5px #ffa35d,
					0 0 15px #ffa35d,
					inset 0 0 5px #ffa35d,
					inset 0 0 15px #ffa35d,
					35px 35px 15px rgb(0 0 0 / 20%)
		;

			
			&::after, ::before {
				// content: "";
				width: 20px;
				height: 20px;
				background-color: #ffa35d;
				display: inline-block;
				z-index: 1;
				position: absolute;
			}

			&::before {
				top: 0;
				left: 0;
			}
			&::after {
				bottom: 0;
				right: 0;
			}

			p {
				width: 160px;
			}
			
			img {
				width: 150px;
				height: 100px;
				filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.479));
				margin-right: -30px;
				margin-left: -30px;
				// position: absolute;
				// bottom: 0;
				// right: -100px;
			}
		}
		.article2 {
			transform: scale(1.15);
		}
	}
}

#mouse-parallax-container {
	overflow: visible;
}

// @media screen and(min-width: 800px) {
// 	.about {

// 		&__articles {
// 			display: flex;
// 			flex-direction: row;
// 		}
// 	}
// }


@media screen and(max-width: 767px) {
	.smallAbout {
		position: relative;
		width: 100vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 200px;
		margin-bottom: 200px;
		transition: all 0.5s ease;
		font-size: 1.8rem;

		h2 {
			filter: drop-shadow(0px 0px 10px #e6af86);
			color: #ffa35d;
		}
		
		&__description {
			width: 80%;
			font-size: 1.8rem;
			margin-top: 30px;
			transform: scale(0.7);
			opacity: 0.3;

			&-box1  {
			margin: 60px 50px;
			color: #fff;
			border-radius: 15px;
			width: fit-content;
			background-color: rgba(255, 255, 255, 0.123);
			backdrop-filter: blur(5px);
			// filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.315));
			font-size: 1.8rem;

			z-index: 1000;
			position: relative;
			padding: 20px;
			// box-shadow: 0 15px 35px rgb(0 0 0 / 20%);
			display: flex;
			flex-direction: row;
			box-shadow: 
					0 0 5px #ffa35d,
					0 0 15px #ffa35d,
					inset 0 0 5px #ffa35d,
					inset 0 0 15px #ffa35d,
					// 35px 35px 15px rgb(0 0 0 / 20%)
		;

			
			&::after, ::before {
				// content: "";
				width: 20px;
				height: 20px;
				background-color: #ffa35d;
				display: inline-block;
				z-index: 1;
				position: absolute;
			}

			&::before {
				top: 0;
				left: 0;
			}
			&::after {
				bottom: 0;
				right: 0;
			}

			p {
				width: 160px;
			}
			
			img {
				width: 150px;
				height: 100px;
				filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.479));
				margin-right: -30px;
				margin-left: -30px;
				// position: absolute;
				// bottom: 0;
				// right: -100px;
			}
		}
		}
		
		.text1 {
			color: #f5af7a;
			filter: drop-shadow(5px 3px 3px rgba(0, 0, 0, 0.445));
		}
		.text2 {
			color: #f5af7a;
			filter: drop-shadow(5px 3px 3px rgba(0, 0, 0, 0.445));
		}
		.text3 {
			color: #f5af7a;
			filter: drop-shadow(5px 3px 3px rgba(0, 0, 0, 0.445));
		}
		.text4 {
			color: #f5af7a;
			filter: drop-shadow(5px 3px 3px rgba(0, 0, 0, 0.445));
		}
	}
}