.mobileNav {

	&__button {
		z-index: 1500;
		position: fixed;
		top: -2px;
		right: -2px;
		transition: all 0.4s ease;
	} 

	&__menu {
		top: 0;
		z-index: 600;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(15px);

		&-overlay {
			top: 0;
			left: 0;
		}

		h2 {
			margin-bottom: 40px;
			margin-top: 50px;
			color: #fff;
			filter: drop-shadow(0px 0px 10px white);
		}

		&-link {
			color: #665249;
			height: 50px;
			font-size: 2rem;
			font-weight: bold;
			font-family: Dancing Script;
			display: flex;
			justify-content: center;
			align-items: center;
			vertical-align: middle;
			transition: all 0.3s ease;
			text-decoration: none;
			cursor: pointer;
			
			&:nth-child(2) {
				color: #5da6ff;
				filter: drop-shadow(0px 0px 5px #5da6ff);
			}
			&:nth-child(3) {
				color: #b65dff;
				filter: drop-shadow(0px 0px 5px #b65dff);
			}
			&:nth-child(4) {
				color: #ff5d6d;
				filter: drop-shadow(0px 0px 5px #ff5d6d);
			}
			&:nth-child(5) {
				color: #ffa35d;
				filter: drop-shadow(0px 0px 5px #ffa35d);
			}
			&:nth-child(6) {
				color: #6ec444;
				filter: drop-shadow(0px 0px 5px #6ec444);
			}
		}
	}
}