.eye {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pupilleDiv {
	border-radius: 50%;
	width: 80%;
	height: 80%;
	position: relative;
}
.pupille {
	width: 22px;
	height: 22px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
}

.small {
	width: 28px;
	height: 28px;
	
	.pupilleDiv {

		.pupille {
			width: 10px;
			height: 10px;
		}
		
	}

}