.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	
	.inputBox {
		position:relative;
		width: 100%;
		// border: 1px solid black;
		padding-bottom: 25px;
		
		&::before {
			content:'';
			height: 1px;
			width: 100%;
			position: absolute;
			bottom: 0px;
			left: 0;
			margin-bottom: 25px;
			background-color: #6ec444;
			
		filter: drop-shadow(0px 0px 5px #6ec444);
		}
		&::after {
			content:'';
			height: 1px;
			width: 100%;
			position: absolute;
			bottom: 0px;
			left: 0;
			margin-bottom: 25px;
			background-color: #6ec444;
					filter: drop-shadow(0px 0px 5px #6ec444);
		}
		
		&::after {
			// background-color: blue;
			transform: scaleX(0);
			transition: transform 0.3s;
		}
		
		label {
			font-size: 1.4rem;
			position: absolute;
			top: 4px;
			left: 4px;
			transition: all 0.5s ease;
			color: #fff;
			// width: 100%;

		}
	}

	
	
	input, textarea {
		// position: relative;
		width: 100%;
		padding: 4px;
		// border-radius: 5px;
		outline: none;
		background: rgba(255, 255, 255, 0.1);
		// margin-bottom: 15px;
		color: #fff;
		transition: all 0.5s ease;
		font-family: nasa;
		font-size: 1.3rem;
		border: none;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		
		&:valid {
			// background: rgba(255, 255, 255, 0.685);
		}
		
		
		&::placeholder {
			transition: all 0.5s ease;
			font-size: 1.4rem;
			color: rgba(255, 255, 255, 0.418);
		}
		
		&:focus {
			&::placeholder {
				transition: all 0.5s ease;
				// color: aqua;
			}
			
		}

		&:focus ~ label {
			top: -18px;
			left: 0;
			color: #6ec444;
			font-size: 12px;
			// box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1),
			// 				0 0 3px 3px rgba(255, 255, 255, 0.1);
			// border: 1px solid transparent;
		}
		&:valid ~ label {
			top: -18px;
			left: 0;
			color: #6ec444;
			font-size: 12px;
			// box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1),
			// 				0 0 3px 3px rgba(255, 255, 255, 0.1);
			// border: 1px solid transparent;
		}
	}

	
	button {
		font-size: 1.5rem;
		align-self: center;
		border: none;
		padding: 5px 10px;
		color: #fff;
		font-family: nasa;
		cursor: pointer;
		transition: all 0.3s ease;
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(5px);
		box-shadow: 
			0 0 5px #6ec444,
			0 0 15px #6ec444,
			inset 0 0 5px #6ec444,
			inset 0 0 15px #6ec444,
		;

		&:focus {
		}
		
		&:hover {
			box-shadow: 0 0 1px 1px white,
							0 0 3px 3px white;
			border: 1px solid transparent;
		}
	}

	&__errorMsg {
		text-align: center;
		color: red;
		font-size: 1.1rem;
		margin-top: -22px;
		margin-bottom: 24px;
	}
}

@media screen and (min-width: 768px) {
	.form {
		// width: 440px;
	}
}

