*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	z-index: 50;
	height: 100vh;
	transition: all 1s ease;

	&__content {
		// z-index: -50;
		// opacity: 0;
		// transition: all 1s ease;
	}
}


.background {
	position: fixed;
	object-fit: cover;
	inset: 0;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	filter: brightness(80%);
}

.show {
	opacity: 1;
	// z-index: 50;
}
.hide {
	opacity: 0;
	// z-index: -50;
}