@font-face {
    font-family: "nasa";
    src: url("./Fonts/nasalization-rg.otf");
}
@font-face {
    font-family: "beyno";
    src: url("./Fonts/BEYNO.ttf");
}
@font-face {
    font-family: "ufo";
    src: url("./Fonts/UFO\ NEST\ -\ Regluar.ttf");
}
@font-face {
    font-family: "spaceAge";
    src: url("./Fonts/space\ age.ttf");
}


body {
  margin: 0;
  font-family: nasa, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
